* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2c3e50; 

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.2s;
}

button:hover {
    background: #2c3e50;
}

#resultado {
    margin-top: 25px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50;
}
